{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <img src="{% static 'assets/images/ada.jpg' %}" class="w-100" alt="">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-8 text-center">
                    <h3 class="mt-4">ABOUT ADA</h3>
                    <p style="line-height: 2.5;font-weight: bold;text-align: justify;margin-top: 21px;">ADA University (ADA) (Azerbaijani: ADA Universiteti) is a university established under the
                        Ministry of Foreign Affairs of Azerbaijan in March 2006 by Hafiz Pashayev. By the decree of
                        President, ADA was transformed into university in 2014. When founded as the Azerbaijan
                        Diplomatic Academy the main objective was to train specialists for a diplomatic career in
                        Azerbaijani foreign affairs, however its programs expanded and the name changed to ADA
                        University. Its founding rector is Ambassador Hafiz Pashayev, who is a Deputy Foreign Minister
                        of Azerbaijan and a former ambassador of Azerbaijan to the United States. Its present,
                        dedicated campus opened in September 2012.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}