{% extends 'base.html' %}

{% block content %}
<div class="row" id="rowId">
    <div class="col-6">
        <h4 class="text-warning">{{emptyInputs}}</h4>
        <select onchange="changeModel(this.value)" class="form-select" id="modalTypeId" name="modelType"
            aria-label="Default select example mt-4">
            <option selected>Choose</option>
            <option value="cbowm"> Continuous Bag of Words Model(CBOW)</option>
            <option value="sgm">Skip Gram Model</option>
            <option value="ftm">Fast Text Model</option>
            <option value="scrum">Sentence Embedding-BytePair model</option>
            <option value="senEmbDoc2Vec">Sentence Embedding-Doc2Vec Model</option>
        </select>
        <div class="row mt-3" id=optionsDiv>
            <div id="SimilarityIdd" class="col-4"><label for="Similarity">Similarity</label><input value="Similarity"
                    type="radio" name="types" id="Similarity" class="ml-3"></div>
            <div class="col-4"><label for="MostSimilarity">Most Similarity</label><input value="MostSimilarity"
                    type="radio" name="types" id="MostSimilarity" class="ml-3"></div>
            <div style="display: none;" id="encodeId" class="col-4"><label for="Encode">Encode</label><input
                    value="Encode" type="radio" name="types" id="Encode" class="ml-3"></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row" id="SimilarityId" style="display: none;">
                    <form action="findSim" method="GET">
                        <div class="col-12 col-lg-12 mt-3">
                            <label for="">Word - 1</label>
                            <input type="hidden" value="" name="modelTypeHidden" id="hiddenModalType">
                            <input name="word1" type="text" placeholder="Enter first word" class="form-control ml-4">
                        </div>
                        <div class="col-12 col-lg-12 mt-3">
                            <label for="">Word - 2</label>
                            <input name="word2" type="text" placeholder="Enter second word" class="form-control ml-4">
                        </div>
                        <input type="submit" class="btn btn-success mt-3" value="Check">
                    </form>

                </div>

                
                <div class="row" id="mostSimilarityId" style="display: none;">
                    <form action="findMostSim">
                        <div class="col-12 col-lg-12 mt-3">
                            <label for="">Word</label>
                            <input type="hidden" name="modelTypeHidden" value="" id="hiddenModalType2">
                            <input type="hidden" name="endodeornot" value="" id="endodeornotId">
                            <input name="wordsingle" type="text" placeholder="Enter the word" class="form-control mt-2">
                        </div>
                        <input type="submit" class="btn btn-success mt-3" value="Check">
                    </form>
                </div>








                <div class="row" id="senEmbDoc2VecId" style="display: none; margin-top: 20px;">
                    <div style="display: flex;">
                        <form action="getVocabSenEmbe" style=" margin: 10px;">
                            <input type="hidden" name="modelTypeHidden" id="hiddenModalType5">
                            <button type="submit" class="btn btn-success">Get Vocablaries</button>
                        </form>
                        <form action="getSimiSenEmbe"  style=" margin: 10px;">
                            <input type="hidden" name="modelTypeHidden" id="hiddenModalType6">
                            <button type="submit" class="btn btn-success">Get Similarity</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <ul>
        </ul>


        
        {% if resultEncode != 'empty' %}

        <div class="w-100" style="height: 500px; overflow-y: scroll;">
            {{modelType}} model
            {% for e in resultEncode %}
            <div class="alert alert-primary" role="alert">
                Words are <a href="#" class="alert-link">{{e}}</a>.
            </div>
            {% endfor %}
        </div>
        {% endif %}



        {% if result != 'empty' %}

        <div class="w-100" style="height: 500px; overflow-y: scroll;">

            {% for e in result %}
            <div class="alert alert-primary" role="alert">
                Your words and scores are <a href="#" class="alert-link">{{e}} in {{modelType}} model</a>.
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if resultSim != 'empty' %}
        <div class="alert alert-primary" role="alert">
            Your score is <a href="#" class="alert-link">{{resultSim}} in {{modelType}} model</a>.
        </div>
        {% endif %}



        {% if resultDoc2Vector != 'empty' %}
        <div class="w-100" style="height: 300px; overflow-y: scroll;">

            {% for e in resultDoc2Vector %}
            <div class="alert alert-primary" role="alert">
                Word is <a href="#" class="alert-link">{{e}} </a> in {{modelType}} model
            </div>
            {% endfor %}
        </div>
        {% endif %}



        {% if resultSenEmSim != 'empty' %}
        <div class="w-100" style="height: 300px; overflow-y: scroll;">
            {% for e in resultSenEmSim %}
            <div class="alert alert-primary" role="alert">
               Smilarity: <a href="#" class="alert-link">{{e}}</a> in {{modelType}} model
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}